/* .main{
    text-align: left;
    border-radius: 20px;
    width: 800px;
    height: 700px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  } */
h3{
  font-family: 'Inconsolata', monospace;
}
h3{
  font-family: 'Inconsolata', monospace;
}
p{
  font-family: 'Inconsolata', monospace;
}

.text{
  font-family: 'Inconsolata', monospace;
}